.group-list-content {
    width: 100%;
    display: flex;
}

.group-list-box {
    width: 100%;
    line-height: 45px;
    border-radius: 8px;
    padding: 15px 0px 0px 0px;
    margin-bottom: 20px;
    border: 4px solid #d9f0d0;
}

.group-list-box-flex {
    /* display: flex;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 6px 12px;
}

.group-list-start {
    padding: 0px 15px;
    border-radius: 5px;
    background-color: #d9f0d0;
}

.group-list-edit {
    color: red;
    text-align: center;
}

.group-member-list-title {
    text-align: center;
    line-height: 35px;
    background-color: #e5e5e5;
    margin-top: 10px;
}

.group-member-list-content {
    display: flex;
    justify-content: space-around;
}

/* 左側（ID + 名前） */
.group-text {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 20px;
}

/* 右側（開始ボタン） */
.group-start-wrapper {
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* 表示調整 */
.group-id {
  font-size: 15px;
  color: #666;
}

.group-name {
  font-size: 15px;
  font-weight: bold;
}