.plan-container {
  width: 100%;
  max-width: 320px;        /* スマホ幅に最適化 */
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
}

.plan-list-content {
    width: 100%;
    display: flex;
}

.plan-list-box {
    width: 100%;
    line-height: 30px;
    border-radius: 8px;
    padding: 15px 0px 0px 0px;
    margin-bottom: 20px;
    border: 4px solid #d9f0d0;
}

.plan-list-box-flex {
    display: flex;
    justify-content: space-around;
}

.plan-data-list-title {
    text-align: center;
    line-height: 35px;
    background-color: #e5e5e5;
    margin-top: 10px;
}

.plan-data-list-content {
    display: flex;
    justify-content: space-around;
}

.plan-text {
    padding: 15px;
}